.bg-img{
   background-image: url(https://img.freepik.com/free-photo/fresh-gourmet-meal-beef-taco-salad-plate-generated-by-ai_188544-13382.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
